body{
  background-color: #9dcc8f;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 14px;
}
#header_sh{
  height: 44px;
}
#header{
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 10;
  width: 100%;
  background-color: #9dcc8f;
  padding-bottom: 10px;
}

.clear{
  clear: both;
  height: 0px;
  line-height: 0px;
  font-size: 0px;
}
.disabled{
  opacity: 0.6 !important;
  cursor: default !important;
}
.wrap{
  width: 810px;
  margin: 0 auto;
}
.tleft, .left{
  text-align: left;
}
.tcenter, .center{
  text-align: center;
}
.tright, .right{
  text-align: right;
}
.table {
  width: 100%;
  padding: 0;
  border-spacing: 0;
}

.text1{
  padding: 20px 0;
  font-size: 18px;
}
.bold{
  font-weight: bold;
}
.italic{
  font-style:italic;
}
.highlight{
  color: red !important;
}
.del{
  text-decoration: line-through;
}

a[href]{
  color: #0645AD;
  text-decoration: underline;
}
p{
  padding: 7px 0;
}
ul{
  padding-left: 20px;
}

/**
* 
***************************************************************************************************
*/
.text1{
  font-size: 18px;
}
.text2{
  padding-top: 24px;
  font-size: 18px;
  color: #1d2041;
}

.button{
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF !important;
  background-color: #373737;
  cursor: pointer;
  border: 3px solid #000000;
  height: 18px;
  line-height: 18px;
  text-align: center;
  padding: 0 5px;
  min-width: 120px;
  text-decoration: none !important;
  
          border-radius: 10px;
     -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  
          transition: linear .2s;
       -o-transition: linear .2s;
      -ms-transition: linear .2s;
     -moz-transition: linear .2s;
  -webkit-transition: linear .2s;
}
.button:hover, .button.active{
  background-color: #000000;
  
          transition: linear .2s;
       -o-transition: linear .2s;
      -ms-transition: linear .2s;
     -moz-transition: linear .2s;
  -webkit-transition: linear .2s;
}

/**
* 
***************************************************************************************************
*/
.header-wrap{
  padding: 10px 10px 10px 10px;
}
.header{
  position: relative;
}

.bshadow{
  -webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
     -moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
          box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
}

.block1{
  background-color: #FFFFFF;
  padding: 20px;
  margin-top: 30px;
  margin-bottom: 20px;
  
          border-radius: 7px;
     -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}

.block2{
  padding: 20px;
  margin-top: 30px;
  margin-bottom: 20px;
  
          border-radius: 7px;
     -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}

#welcome_name input[type = text]{
  border: 1px solid #344363;
  display: inline-block;
  width: 100%;
  font-size: 14px;
  height: 20px;
  line-height: 20px;
  padding: 0 5px;
}

#loading img{
  -webkit-animation: rotation 10s infinite linear;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}

.quest-wrap{
  padding: 10px 0;
}
.quest,
.tquest{
  border: 1px solid #cdc7bd;
  color: #1d2041;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #FFFFFF;
  position: relative;
  
          border-radius: 7px;
     -moz-border-radius: 7px;
  -webkit-border-radius: 7px;  
}
.tquest{
  font-size: 18px;
}

.quest-anss{
  position: absolute;
  bottom: -12px;
  right: 23px;
  border: 3px solid #000000;
  background-color: #000000;
  height: 18px;
  width: 113px;
  overflow: hidden;
  
          border-radius: 12px;
     -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
}
.quest.disabled .quest-anss{
  display: none;
}
.quest-ans{
  position: relative;
  float: left;
  width: 50%;
  height: 18px;
  line-height: 18px;
  background-color: #373737;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  color: #cccccc;
}
.quest-ans:before{
  content: ' ';
  position: absolute;
  top: 2px;
  width: 14px;
  height: 14px;
  background-color: #000000;
          border-radius: 7px;
     -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}
.quest-ans.quest-ans-yes:before{
  left: 2px; 
}
.quest-ans.quest-ans-no:before{
  right: 2px;
}
.quest-ans.quest-ans-yes{
  text-align: right;
}
.quest-ans.quest-ans-yes span{
  padding-right: 7px;
}
.quest-ans.quest-ans-no{
  text-align: left;
}
.quest-ans.quest-ans-no span{
  padding-left: 7px;
}

.quest-ans.quest-ans-yes.active,
.quest-ans.quest-ans-yes:hover{
  background-color: #13a538;
  color: #FFFFFF;
}
.quest-ans.quest-ans-yes.active:before,
.quest-ans.quest-ans-yes:hover:before{
  background-color: #FFFFFF;
}
.quest-ans.quest-ans-no.active,
.quest-ans.quest-ans-no:hover{
  background-color: #00a7e7;
  color: #FFFFFF;
}
.quest-ans.quest-ans-no.active:before,
.quest-ans.quest-ans-no:hover:before{
  background-color: #FFFFFF;
}
.quest-ans, .quest-ans:hover, .quest-ans.active{
          transition: linear .2s;
       -o-transition: linear .2s;
      -ms-transition: linear .2s;
     -moz-transition: linear .2s;
  -webkit-transition: linear .2s;
}




@media screen and (max-width: 810px){
.htext1{
  display: block;
  padding-top: 10px;
}
#header_sh{
  height: 103px;
}  
.wrap{
  width: 90% !important;
}
  
}





@media print {

header_sh{
  display: none;
}
#header{
  position: unset;
}
  
body{
  color: #000000;
}

#welcome_name{
  display: none;
}
#quests{
  display: block !important;
}
#start{
  display: none;
}
#loading{
  display: none;
}
#result{
  display: block;
}
#result_buttons{
  display: none;
}


.bshadow{
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-bottom: 1px solid #000000;
}
  
.quest, .tquest {
  border: 0;
  border-bottom: 1px solid #000000;
  margin-bottom: 12px;
  padding: 10px;
  
          border-radius: 0px;
     -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
}
.quest{
  padding-bottom: 3px !important;
} 
.quest-anss{
  position: initial;
  bottom: initial;
  right: initial;
  float: right;
  margin-right: 3px;
  
  /*bottom: 3px;*/
  /*right: 3px;*/
  border-width: 1px;
}
.quest-ans{
  display: none;
}
.quest-ans.active{
  display: block;
  width: 100%;
  text-align: center;
  font-weight: normal;
  color: #000000 !important;
}
.quest-ans.active span{
  padding: 0;
}
  
}